{% extends 'base.html' %}
{% block content %}


<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 20px auto !important
    }

    form h3{
        margin-bottom: 20px !important;
        text-align: center !important
    }

    form p{
        text-align: center
    }

    form small{
        color: red
    }
</style>
<form action="" method='POST'>
  <h3>Password Reset</h3>
  <p>Enter your email address to receive a password reset link.</p>
  <div class="mb-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" style="width: 100%; margin: 10px auto;">Send Password Reset Email</button>
</div>
</form>
{% endblock %}


    


      
   
        

