{% extends "base.html" %}

{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 20px auto !important
    }

    form h2{
        margin-bottom: 20px !important;
        text-align: center !important
    }
</style>
<body style="background-color: rgb(235, 236, 246)";>

<form method="POST">
  <h2>Enter New Password</h2>
  {% csrf_token %}
  <div>
    {{ form.as_p }}
  </div>
    <button type="submit" class="btn btn-primary" style="width: 100%;">Set New Password</button>
  
  </form>
</body>
{% endblock %}