{% extends "base.html" %} 


{% block content %}

<style>
  .icons{
      width: auto;
      padding: 10px 10px 10px 10px;
  }

  .icons i{
      font-size: 20px;
      cursor: pointer;
      margin: 5px 5px 5px 5px
  }

  .icons a{
      color: black;
  }

  .actions a{
    color: black !important;
  }

  .actions a .fa-solid{
    font-size: 20px !important;
    margin-right: 10px;
  }

  @media (min-width:991.33px){
        .blog-height{
            height: 180px
            }
        }
    
    
</style>

<body style="background-color: rgb(235, 236, 246)";>
<div class="row container">


{% if del %}

<div class="alert alert-danger delete_form " role="alert">
  <form action="" method="POST">
    {% csrf_token %}<p>Do you want to delete the article <strong>{{blog.title}}</strong>
      <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
      <a href=""><button class="btn btn-danger">Delete</button></a>
    </p>
    
      
    
  </form> 
 
</div>
  
{% endif %}
  

    <div class="main-body" style="align-items: center;">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm profile_width" >
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    
                    {% if user.profile_pic %}

                    <img src="{{user.profile_pic.url}}" alt="Admin" class="rounded-circle" width="150">

                    {% else %}
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                      
                    {% endif %}
                      
                    
                    <div class="mt-3">
                      <h4>{{user.first_name}} {{user.last_name}}</h4>
                      <p class="text-secondary mb-1">{{user.role}}</p>
                      <p class="text-muted font-size-sm">{{user.address}}</p>
                      <a class="btn btn-info " target="__blank" href="{% url 'update_profile' %}">Edit</a>
                      <a class="btn btn-info " target="__blank" href="{% url 'drafts' %}">Drafts</a>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Bio</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.bio}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">EMP_ID</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.emp_id}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.phone_no}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.username}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.address}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <br>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header display-6 " style="background-color: rgb(39, 43, 91);color: white;">My Articles</div>
                    <div class="row">

                  
                      {% for blog in p_blogs  %}
    
                      <div class="col-md-6">
                        
                        <div class="card mb-4">
                          <a href="#!"><img class="card-img-top blog-height" src="{{blog.thumbnail.url}}" alt="..." /></a>
                          <div class="card-body">
                              <div class="small text-muted">{{blog.created}}</div>
                              <h2 class="card-title h4">{{blog.title}}</h2>
                              <p class="card-text">{{blog.body | safe | truncatechars:"100"}}</p>
                              <a class="btn btn-primary" href="{% url 'detail' slug=blog.slug %}">Read more →</a>
           
                             
    
                              <span style="float: right" class="actions">
                                <a href="{% url 'update-article' blog.slug %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="{% url 'delete-article' blog.slug %}"><i class="fa-solid fa-trash-can"></i></a>
                              </span>
                            
    
                              
                          </div>
                        </div>
    
                      </div>
                        
                      {% endfor %}
                        
                      
                        
                    </div>
                </div>
                
                <!-- Side widget-->
              
              </div>
            </div>
          </div>

        </div>
    </div>
  </body>
{% endblock content %}