
{% extends 'base.html' %}


{% block content %}

<style>
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: white;
        width: 400px !important;
        border-radius: 10px;
        padding: 20px 20px 20px 20px !important;
        margin: 20px auto !important
    }

    form input{
        height: 40px !important;
    }

    form h4{
        margin-bottom: 20px !important;
        text-align: center !important
    }

    form p{
        text-align: center
    }

    form small{
        color: red
    }



</style>


<form action="" method="POST" enctype="multipart/form-data">
    
    
    <div class="col-md-12">
        <!-- Search widget-->
        <div class="card mb-6">
            <div class="card-header display-6 " style="background-color: rgb(39, 43, 91);color: white;font-size:xx-large;">Create Your Content</div>
            <br>
            {% csrf_token %}
               
                {% for field in form  %}  
                {% if field.errors %}
                <div class="mb-4" style="margin-left: 5px;margin-right: 5px;color: #000;">
                    <label for="">{{field.label}}</label>
                    {{field}}
                </div>
                <small>{{field.errors}}</small>


                {% else %}
                <div class="mb-4" style="margin-left: 5px;margin-right: 5px;color: #000;">
                    <label for="">{{field.label}}</label>
                    {{field}}
                </div>
                    
                {% endif %}
        
            
    
        
    {% endfor %}
    <button class="btn btn-primary" style="width:100%">Create article</button>
        </div>
    </div>
</form>

{% endblock content %}